<a href="https://colab.research.google.com/github/yijunyang/database/blob/main/1_Relational_Database_Design.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

*This is part of Yale course BIS638.*

- Design and create a basic patient database (a subset of MIMIC III https://physionet.org/content/mimiciii/1.4/)
- Implement a relational database based on the ER model

- Query the patient database using SQL queries

# Install MySQL and Python-connector

Install mysql:

In [ ]:
!apt install mysql-server libmysqlclient-dev

Start mysql server:

In [ ]:
!service mysql start

Alter the root user to accept bis638 as the root password:

In [ ]:
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'bis638'"

Install mysql connector in python:

In [ ]:
!pip install mysql-connector-python

# Create Database (Via Google Drive)

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Create a database if it doesn't exist:
- The `SOURCE` command runs the sql script file located in your drive

In [ ]:

!mysql -u root -p -e "CREATE DATABASE IF NOT EXISTS mimic3;\
USE mimic3;\
SOURCE /content/gdrive/My Drive/HW1_MIMIC3_Physical_Model_create.sql;\
COMMIT;"

Enter password:

Load data:

In [ ]:
import mysql.connector
#establish a database connection with the load data file option set to True
cnx = mysql.connector.connect(user='root',
                password='bis638',
                host='127.0.0.1',
                database='mimic3',
                allow_local_infile=True)

#create database_cursor to perform SQL operation
db_cursor = cnx.cursor()

#execute the sql command to load a data file into a table (repeat the following line for more data files and tables)
db_cursor.execute("Load data local infile '/content/gdrive/My Drive/mimic_iii/mimic_iii/PATIENTS.csv' into table PATIENTS fields terminated by ',' ignore 1 lines")
db_cursor.execute("Load data local infile '/content/gdrive/My Drive/mimic_iii/mimic_iii/ADMISSIONS.csv' into table ADMISSIONS fields terminated by ',' ignore 1 lines")
db_cursor.execute("Load data local infile '/content/gdrive/My Drive/mimic_iii/mimic_iii/D_ICD_DIAGNOSES.csv' into table D_ICD_DIAGNOSES fields terminated by ',' ignore 1 lines")
db_cursor.execute("Load data local infile '/content/gdrive/My Drive/mimic_iii/mimic_iii/DIAGNOSES_ICD.csv' into table DIAGNOSES_ICD fields terminated by ',' ignore 1 lines")

#commit the loading data transaction
db_cursor.execute("commit")

# Implement SQL Query

Define and execute the SQL query:

In [ ]:
sql_statement = "SELECT distinct d.icd9_code, d2.long_title FROM DIAGNOSES_ICD d \
inner join D_ICD_DIAGNOSES d2 on d.icd9_code=d2.icd9_code"
db_cursor.execute(sql_statement)
dbresult = db_cursor.fetchall()
for r in dbresult:
  print(r)
db_cursor.close()
cnx.close()